body{
background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
background-repeat: no-repeat;
background-size: cover;
height:100vh;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.live{
  width:60px;
  background:red;
  color:#fff;
  padding:6px 10px;
  border-radius:15px;
}
.card{
  border:none;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px #ddd;
  padding:20px;
}
.card p{
  width:180px;
  margin:0 auto;
  font-weight:bold;
  color:#fff;
  font-size:18px;
  text-align:center;
}
.card span{
  text-align:center;
  font-size: 23px;
  margin-top: 20px;
}
.card1 p{
  background:#feca57;
  border-radius: 15px;
  padding:5px;
}
.card2 p{
  background:#ff7979;
  border-radius: 15px;
  padding:5px;
}
.card3 p{
  background:#B33771;
  border-radius: 15px;
  padding:5px;
}
.card4 p{
  background:#be2edd;
  border-radius: 15px;
  padding:5px;
}
.card5 p{
  background:#32ff7e;
  border-radius: 15px;
  padding:5px;
}
.card6 p{
  background:#FC427B;
  border-radius: 15px;
  padding:5px;
}
.card7 p{
background: #2C3A47;
border-radius: 15px;
padding:5px;
text-align: center;
}
.card7 span{
  font-size: 20px;
}
